/* Contenedor que centra todo */
.Conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;  /* ocupa toda la pantalla */
}

/* Estilos de la tarjeta */
.tarjeta {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
}
