.tw-followCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: .8rem;
}

.tw-followCard-header { 
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-folloCard-infoUsername {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}